.main {
  background-color: #e287c5;
}

.navbar {
  min-height: 10vh;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: #926BD3;
  width: 100%;
}

.navbar__brand {
  background-color: #e287c5;
  padding: 0.5rem 1rem;
  color:  #926BD3;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  height: 80%;
  width: auto;
  display: flex;
  align-items: center;
}

.navbar__link__list {
  column-gap: 2.4rem;
  height: 4.4rem;
  justify-content: right;
  width: auto;
}

.navbar__link__list__a {
  background-color: #e287c5;
  padding: 0.5rem 1rem;
  color:  #926BD3;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #e287c5;
  height: 80%;
  width: 30%;
  display: flex;
  align-items: center;
  transition: .5s ease-out;
}

.navbar__link__list a:hover {
  border: 1px solid  #e287c5;
  background-color: #926BD3;
  color: #e287c5;
  padding: 0.5rem 1rem;
  transition: .5s ease-in;
}

.navbar__link__list__a__link {
  background-color: #e287c5;
  padding: 0.5rem 1rem;
  color: #926BD3;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  border: 1px solid #e287c5;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s ease-out;
}

header .navbar .navbar__link__list .navbar__link__list__a__link--active {
  color: #926BD3;
}

.itemList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.img-container {
  width: 15rem;
}

.product-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  --bs-card-bg: #926BD3;
  color: white;
  padding: 0.5rem 1rem;
}

.card-container {
  background-color: #926BD3;
}

.card-container-detail {
  background-color: #926BD3;
}

.card-container-link {
  color: white;
  text-decoration: none;
}
